appdirs==1.4.3
asn1crypto==0.22.0
blinker==1.4
cffi==1.10.0
click==6.7
coverage==4.3.4
cryptography==1.8.1
enum34==1.1.6
Flask==0.12
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.2
funcsigs==1.0.2
future==0.16.0
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
mock==2.0.0
nltk==3.2.2
oauthlib==2.0.2
packaging==16.8
pbr==2.1.0
psycopg2==2.7.1
pycparser==2.17
PyJWT==1.4.2
pyOpenSSL==16.2.0
pyparsing==2.2.0
python-twitter==3.2.1
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
schedule==0.4.2
selenium==3.3.3
six==1.10.0
SQLAlchemy==1.1.6
tweepy==3.5.0
twilio==6.0.0
twython==3.4.0
Werkzeug==0.12.1
