body {
    margin: 60px;
}



.top-text {
    font-weight: bold;
    color: black;
    font-size: 11pt;
}

/*#logout {
    margin-left: 730px;
}
*/

html {
    height: 100%;
}

.title-logo {
    font-family: Pacifico;
    font-size: 18pt;
}