#gauge {
    display: none;
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 10px;
}

#fillgauge {
    margin-left: 100px;
}


#loader {
    display: none;
$color: #76daff;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin-left: 330px;
  margin-top: 180px;
  rect { fill: white; }
}


.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    position: relative;
    padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;  
}




.action-button:active
{
    transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}





#get-quote {
    margin-left: 520px;
    margin-top: 80px;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;

}

#logo2 {
    margin-top: 75px;
    width: 100%;
    height: auto;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 0.2s;
    }

#sense {
 width:45%;
 margin-top: 175px;
 margin-left: 130px;

}

#give {
    display: none;
    margin-top: 80px;
    margin-left: 30px;
    width: 100%;
}

#element {
    margin-top: 120px;
}


body {
  
  background-color: #00bfff; 
  background-image: -webkit-linear-gradient(to bottom left, #00bfff, white); 
  background-image:    -moz-linear-gradient(to bottom left, #00bfff, white); 
  background-image:      -o-linear-gradient(to bottom left, #00bfff, white);
  background-image:         linear-gradient(to bottom left, #00bfff, white); 
}

/*body {
    background: linear-gradient(to bottom left, #00bfff, white);
    background-image: url("leather_1.png");
    background-color: #4de1ff;
    background-blend-mode: luminosity;
  #4de1ff
}
*/
