/*#inspire-container {
    min-height: 100px;
}*/

#gauge {
    display: none;
    margin-top: 50px;
    margin-left: 140px;
    margin-bottom: 10px;
}

#fillgauge {
    margin-left: 100px;
}


#loader {
    display: none;
$color: #76daff;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  margin-left: 330px;
  margin-top: 180px;
  rect { fill: white; }
}


.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    position: relative;
    padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;  
}




.action-button:active
{
    transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}


#quote-col {
    position: relative;
}


#get-quote {
    margin-left: 520px;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    margin-bottom: 100px;

}

#logo2 {
    margin-top: 75px;
    width: 100%;
    height: auto;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 0.2s;
    }

#sense {
 width:45%;
 margin-top: 175px;
 margin-left: 130px;

}

#give {
    display: none;
    margin-top: 60px;
    margin-left: 60px;
    width: 100%;
}

#element {
    margin-top: 120px;
}


body {
  
  background-color: #00bfff; 
  background-image: -webkit-linear-gradient(to bottom left, #00bfff, white); 
  background-image:    -moz-linear-gradient(to bottom left, #00bfff, white); 
  background-image:      -o-linear-gradient(to bottom left, #00bfff, white);
  background-image:         linear-gradient(240deg, #00bfff, white); 
}

/*body {
    background: linear-gradient(to bottom left, #00bfff, white);
    background-image: url("leather_1.png");
    background-color: #4de1ff;
    background-blend-mode: luminosity;
  #4de1ff
}
*/




.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }



#page {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00FFFFFF;
  background: #00FFFFFF;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50;
 /* position: absolute;*/
  right: 60;
  top: 60;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#phrase_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  height: 150px;
  overflow: hidden;
  width: 725px;
}

#phrases {
  -webkit-animation: slide-phrases-upward 20s;
          animation: slide-phrases-upward 20s;
}

#footer {
  bottom: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
}

@-webkit-keyframes slide-phrases-upward {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  5% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  10% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  15% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  20% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  25% {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  30% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  35% {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
  }
  40% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
  45% {
    -webkit-transform: translateY(-450px);
            transform: translateY(-450px);
  }
  50% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
  55% {
    -webkit-transform: translateY(-550px);
            transform: translateY(-550px);
  }
  60% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  65% {
    -webkit-transform: translateY(-650px);
            transform: translateY(-650px);
  }
  70% {
    -webkit-transform: translateY(-700px);
            transform: translateY(-700px);
  }
  75% {
    -webkit-transform: translateY(-750px);
            transform: translateY(-750px);
  }
  80% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
  85% {
    -webkit-transform: translateY(-850px);
            transform: translateY(-850px);
  }
  90% {
    -webkit-transform: translateY(-900px);
            transform: translateY(-900px);
  }
  95% {
    -webkit-transform: translateY(-950px);
            transform: translateY(-950px);
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

@keyframes slide-phrases-upward {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  5% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  10% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  15% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  20% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  25% {
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
  30% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  35% {
    -webkit-transform: translateY(-350px);
            transform: translateY(-350px);
  }
  40% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
  }
  45% {
    -webkit-transform: translateY(-450px);
            transform: translateY(-450px);
  }
  50% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
  }
  55% {
    -webkit-transform: translateY(-550px);
            transform: translateY(-550px);
  }
  60% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  65% {
    -webkit-transform: translateY(-650px);
            transform: translateY(-650px);
  }
  70% {
    -webkit-transform: translateY(-700px);
            transform: translateY(-700px);
  }
  75% {
    -webkit-transform: translateY(-750px);
            transform: translateY(-750px);
  }
  80% {
    -webkit-transform: translateY(-800px);
            transform: translateY(-800px);
  }
  85% {
    -webkit-transform: translateY(-850px);
            transform: translateY(-850px);
  }
  90% {
    -webkit-transform: translateY(-900px);
            transform: translateY(-900px);
  }
  95% {
    -webkit-transform: translateY(-950px);
            transform: translateY(-950px);
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}
#loadingCheckCircleSVG-0 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-1 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-2 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-3 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-4 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-5 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-6 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-7 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-8 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-9 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-10 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-11 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 9.5s;
          animation-delay: 9.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-12 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 10.5s;
          animation-delay: 10.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-13 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 11.5s;
          animation-delay: 11.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-14 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 12.5s;
          animation-delay: 12.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-15 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 13.5s;
          animation-delay: 13.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-16 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 14.5s;
          animation-delay: 14.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-17 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 15.5s;
          animation-delay: 15.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-18 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 16.5s;
          animation-delay: 16.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-19 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 17.5s;
          animation-delay: 17.5s;
  fill: white;
  opacity: 0;
}

#loadingCheckCircleSVG-20 {
  -webkit-animation: fill-to-white 5000ms;
          animation: fill-to-white 5000ms;
  -webkit-animation-delay: 18.5s;
          animation-delay: 18.5s;
  fill: white;
  opacity: 0;
}

@-webkit-keyframes fill-to-white {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill-to-white {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#loadingCheckSVG-0 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

#loadingCheckSVG-1 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

#loadingCheckSVG-2 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#loadingCheckSVG-3 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#loadingCheckSVG-4 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#loadingCheckSVG-5 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

#loadingCheckSVG-6 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

#loadingCheckSVG-7 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

#loadingCheckSVG-8 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}

#loadingCheckSVG-9 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

#loadingCheckSVG-10 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}

#loadingCheckSVG-11 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 9.5s;
          animation-delay: 9.5s;
}

#loadingCheckSVG-12 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 10.5s;
          animation-delay: 10.5s;
}

#loadingCheckSVG-13 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 11.5s;
          animation-delay: 11.5s;
}

#loadingCheckSVG-14 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 12.5s;
          animation-delay: 12.5s;
}

#loadingCheckSVG-15 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 13.5s;
          animation-delay: 13.5s;
}

#loadingCheckSVG-16 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 14.5s;
          animation-delay: 14.5s;
}

#loadingCheckSVG-17 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 15.5s;
          animation-delay: 15.5s;
}

#loadingCheckSVG-18 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 16.5s;
          animation-delay: 16.5s;
}

#loadingCheckSVG-19 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 17.5s;
          animation-delay: 17.5s;
}

#loadingCheckSVG-20 {
  -webkit-animation: fill-to-#00FFFFFF 5000ms;
          animation: fill-to-#00FFFFFF 5000ms;
  -webkit-animation-delay: 18.5s;
          animation-delay: 18.5s;
}

@-webkit-keyframes fill-to-#00FFFFFF {
  0% {
    fill: white;
  }
  10% {
    fill: #00FFFFFF;
  }
  100% {
    fill: #00FFFFFF;
  }
}

@keyframes fill-to-#00FFFFFF {
  0% {
    fill: white;
  }
  10% {
    fill: #00FFFFFF;
  }
  100% {
    fill: #00FFFFFF;
  }
}



