<!doctype html>
<html>
<head>

    <title>{% block title %}Sparrö{% endblock%}</title>
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- need jQuery to use AJAX -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/typed.js"></script>
    <script src="static/typewriter.js"></script>
    <script src="static/close_reminder_modal.js"></script>
    <link href="static/base.css" rel="stylesheet">
    
</head>

<body>


<div class="container-fluid" id="base-container"> 
  <nav class="navbar"> 
      <div class="navbar-header">

{% if 'twitter_handle' in session %}
   <!--  <a href="/">About</a> &nbsp; &nbsp; -->
    <a href="/inspire" class='top-text'>Sparrö</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="/moods" class='top-text'>Understand Your Moods</a> &nbsp; &nbsp; &nbsp; &nbsp;


    <!-- SET REMINDER Button trigger modal -->
  <a href='#' data-toggle="modal" data-target="#reminder-modal" class='top-text'> Set Reminder</a> &nbsp; &nbsp; &nbsp;

<!-- REMINDER modal -->
<div class="modal fade" id="reminder-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Set Reminder</h4>
      </div> <!-- closing modal-header -->
      <div class="modal-body">
        <h4 class="body-title">Select a time to receive a reminder by text</h4>
        <form action="/set-reminder.json" id="set-reminder-submit" method='POST'>
          <input type="radio" name="reminder" value="morning"> Morning<br>
          <input type="radio" name="reminder" value="evening"> Evening <br>
          <input type="radio" name="reminder" value="morning and evening"> Morning and Evening<br><br>
          Add/Update Your Phone Number: <input type="tel" name="remind-phone" id="remind-phone"><br><br>
          <input type="submit" id="remind-submit" value="submit">
        </form>
      </div> <!-- closing modal-body -->
      <div class="modal-footer">
      </div> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    <!-- log out button -->
    <a href="/logged-out" class='top-text' id='logout'>Log out</a>


  </div><!-- /.navbar-collapse -->

</nav>  <!-- closing nav -->
</div> <!-- closing container-fluid -->

 {% else %}

<div class="container-fluid" id="base-container-2"> 
  <div class="row" id='buttons'>
  <div class="col-xs-6" align="left"> 
    <!-- LOGIN Button trigger modal -->
<button id='login' type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">
  Log in
</button>


<!-- LOGIN modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Log in</h4>
      </div>  <!-- closing modal-header -->
      <div class="modal-body">
        <form action="/login-validation" id="login-submit" method='GET'>
          Please log in with your Twitter Handle and Sparrö Password.<br><br>
          Twitter Handle: <input type="text" name="twitter_handle" id="twitter_handle">
          Password: <input type="password" name="password" id="pw">
          <input type="submit" value="submit">
        </form>
      </div> <!-- closing modal-body -->
      <div class="modal-footer">
      </div> <!-- closing modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -column -->




<div class="col-xs-6" > 
<!-- REGISTER Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-register">
  Register
</button>

<!-- REGISTER modal -->
<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Register</h4>
      </div> <!-- closing modal-header -->
      <div class="modal-body">
       <form action="/process-registration" method='POST'>
        First Name <input type="text" name="user_name" id"user_name"><br><br>
        Twitter Handle <input type="text" name="twitter_handle" id="twitter_handle"><br><br>
        Create Password <input type="password" name="password" id="password"><br><br>
        Email <input type="email" name="email" id="email"><br><br>
        Phone Number <input type="tel" name="phone" id="phone"><br><br>
    <input type="submit">
</form>
      </div> <!-- closing modal-body -->
      <div class="modal-footer">
      </div> <!-- closing modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    </div> <!-- closing column-->
  </div> <!-- closing row-->
</div> <!-- closing base-container-2-->

 {% endif %}




<!--jinja for flash messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



{% block content %} put your content here {% endblock %}
</body>
</html>
