{% extends 'base.html' %}
{% block content %}

<h1>Inspiratören</h1><br>
<h3>Inspiratören can sense how you are feeling and deliver your personalized dose of 
daily inspiration.</h3>


<!-- LOGIN Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Sign in
</button>

<!-- LOGIN modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sign in</h4>
      </div>
      <div class="modal-body">
        <form action="/login-validation" id="login-submit" method='GET'>
          Please enter your Twitter Handle and Spirö Password.<br><br>
          Twitter Handle: <input type="text" name="twitter_handle" id="twitter_handle">
          Password: <input type="password" name="password">
          <input type="submit" value="submit">
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<!-- REGISTER Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Sign in
</button>

<!-- REGISTER modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sign in</h4>
      </div>
      <div class="modal-body">
        <form action="/login-validation" id="login-submit" method='GET'>
          Please enter your Twitter Handle and Spirö Password.<br><br>
          Twitter Handle: <input type="text" name="twitter_handle" id="twitter_handle">
          Password: <input type="password" name="password">
          <input type="submit" value="submit">
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->









<div class='logo'>
    <img src="static/logo.png">
</div>

{% endblock %}