{% extends 'base.html' %}
{% block content %}

  <!-- our javascript -->
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <!-- <script src="static/fillgauge.js" language="JavaScript"></script> -->
    <script src="static/get_inspiration.js"></script>
    <style>
    .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
    </style>

<p id='animation-target'></p>

<h3>Sparrö</h3>
<button id="get-quote" class="btn btn-primary">Inspire Me</button>
<br>
<h4 id="give">Sparrö is analyzing your mood based on your most recent tweets</h4>
<div id="loader"></div>

<div id="tweet-container">
    <table>
            <tr>
                <th class="tweet"></th>
                <th class="sentiment"></th>
            </tr>
    </table>
</div>

<h3 id='average'></h3> 
<h3 id='gauge'></h3> 
<h3 id='element'></h3> 

<svg id="fillgauge" width="97%" height="250" onclick=""></svg>





<style type="text/css">
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


</style>










{% endblock %}

