{% extends 'base.html' %}
{% block content %}

<link href="static/moods.css" rel="stylesheet">

<div class="container-fluid" id="moods-container">

<div class="row" id="moods-row1">
  <div class="col-xs-6">  
    <div class="mood-chart"><canvas id='donutChart'></canvas></div>
  </div>

  <div class="col-xs-6">  
    <div class="mood-chart"><canvas id="barChart"></canvas></div>
  </div> <!--closing col-->
</div> <!--closing moods-row1-->

<br><br>

<div class="row" id="mood-row2">
      <!--Columns go here-->
<div class="mood-chart">
    <canvas id="lineChart"></canvas>
    <!-- <div id="lineLegend" class="chart-legend"></div> -->
</div>


</div>

</div> <!--closing container-fluid-->





<script src="static/moods.js"></script>



{% endblock %}