{% extends 'base.html' %}
{% block content %}

<h1>Register for Inspiratören</h1><br>

<form action="/process-registration" method='POST'>
    First Name<input type="text" name="user_name" id"user_name"><br><br>
    Twitter Handle<input type="text" name="twitter_handle" id="twitter_handle"><br><br>
    Create Password<input type="password" name="password" id="password"><br><br>
    Email<input type="email" name="email" id="email"><br><br>
    Phone Number<input type="tel" name="phone" id="phone"><br><br>
    <input type="submit">
</form>


{% endblock %}